<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TD</title>
</head>
<body>
<table>
    <tr>
        <th>Route</th>
        <th>HTTP Verb</th>
        <th>Description</th>
    </tr>
    <tr><td>/api/bears</td><td>GET</td><td>Get all the bears.</td></tr>
    <tr><td>/api/bears</td><td>POST</td><td>Create a bear.</td></tr>
    <tr><td>/api/bears/:bear_id</td><td>GET</td><td>Get a single bear.</td></tr>
    <tr><td>/api/bears/:bear_id</td><td>PUT</td><td>Update a bear with new info.</td></tr>
    <tr><td>/api/bears/:bear_id</td><td>DELETE</td><td>Delete a bear.</td></tr>
</table>

<br><br>
</body>
</html>